infrastructure/step-functions-definition.json
{
  "Comment": "Security Assessment Run Workflow",
  "StartAt": "InitializeRun",
  "States": {
    "InitializeRun": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:650080740856:function:dev-initialize-run",
      "ResultPath": "$.runContext",
      "Next": "EmitRunStarted",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ]
    },
    "EmitRunStarted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Source": "orchestrator",
            "DetailType": "run_started",
            "Detail": {
              "runId.$": "$.runId",
              "userId.$": "$.userId",
              "totalUseCases.$": "$.runContext.useCaseCount"
            },
            "EventBusName": "dev-security-orchestrator"
          }
        ]
      },
      "ResultPath": null,
      "Next": "ProcessUseCases"
    },
    "ProcessUseCases": {
      "Type": "Map",
      "ItemsPath": "$.runContext.useCases",
      "MaxConcurrency": 3,
      "Iterator": {
        "StartAt": "EmitUseCaseStarted",
        "States": {
          "EmitUseCaseStarted": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Parameters": {
              "Entries": [
                {
                  "Source": "orchestrator",
                  "DetailType": "usecase_started",
                  "Detail": {
                    "runId.$": "$.runId",
                    "useCaseId.$": "$.id",
                    "useCaseName.$": "$.title"
                  },
                  "EventBusName": "dev-security-orchestrator"
                }
              ]
            },
            "ResultPath": null,
            "Next": "ExecuteReviewer"
          },
          "ExecuteReviewer": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:650080740856:function:dev-agent-reviewer",
            "Parameters": {
              "runId.$": "$.runId",
              "useCase.$": "$",
              "code.$": "$.code",
              "codeType.$": "$.codeType"
            },
            "ResultPath": "$.reviewerOutput",
            "Next": "CheckImplementerEnabled",
            "TimeoutSeconds": 900,
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 2,
                "BackoffRate": 2.0
              }
            ]
          },
          "CheckImplementerEnabled": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.enableImplementer",
                "BooleanEquals": true,
                "Next": "ExecuteImplementer"
              }
            ],
            "Default": "CheckTesterEnabled"
          },
          "ExecuteImplementer": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:650080740856:function:dev-agent-implementer",
            "Parameters": {
              "runId.$": "$.runId",
              "useCase.$": "$",
              "reviewerOutput.$": "$.reviewerOutput"
            },
            "ResultPath": "$.implementerOutput",
            "Next": "CheckTesterEnabled",
            "TimeoutSeconds": 900
          },
          "CheckTesterEnabled": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.enableTester",
                "BooleanEquals": true,
                "Next": "ExecuteTester"
              }
            ],
            "Default": "ExecuteReporter"
          },
          "ExecuteTester": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:650080740856:function:dev-agent-tester",
            "Parameters": {
              "runId.$": "$.runId",
              "useCase.$": "$",
              "implementerOutput.$": "$.implementerOutput"
            },
            "ResultPath": "$.testerOutput",
            "Next": "ExecuteReporter",
            "TimeoutSeconds": 1800
          },
          "ExecuteReporter": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:650080740856:function:dev-agent-reporter",
            "Parameters": {
              "runId.$": "$.runId",
              "useCase.$": "$",
              "reviewerOutput.$": "$.reviewerOutput"
            },
            "ResultPath": "$.reporterOutput",
            "Next": "ExecuteDebate",
            "TimeoutSeconds": 600
          },
          "ExecuteDebate": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:650080740856:function:dev-agent-debate",
            "Parameters": {
              "runId.$": "$.runId",
              "useCase.$": "$",
              "reviewerOutput.$": "$.reviewerOutput",
              "reporterOutput.$": "$.reporterOutput"
            },
            "ResultPath": "$.debateOutput",
            "Next": "EmitUseCaseFinished",
            "TimeoutSeconds": 1200,
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 1,
                "BackoffRate": 2.0
              }
            ]
          },
          "EmitUseCaseFinished": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Parameters": {
              "Entries": [
                {
                  "Source": "orchestrator",
                  "DetailType": "usecase_finished",
                  "Detail": {
                    "runId.$": "$.runId",
                    "useCaseId.$": "$.id",
                    "status": "completed"
                  },
                  "EventBusName": "dev-security-orchestrator"
                }
              ]
            },
            "ResultPath": null,
            "End": true
          }
        }
      },
      "ResultPath": "$.useCaseResults",
      "Next": "EmitRunFinished"
    },
    "EmitRunFinished": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Source": "orchestrator",
            "DetailType": "run_finished",
            "Detail": {
              "runId.$": "$.runId",
              "status": "completed"
            },
            "EventBusName": "dev-security-orchestrator"
          }
        ]
      },
      "ResultPath": null,
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Source": "orchestrator",
            "DetailType": "run_failed",
            "Detail": {
              "runId.$": "$.runId",
              "error.$": "$.error"
            },
            "EventBusName": "dev-security-orchestrator"
          }
        ]
      },
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}